body {
    background-color: #0b204b;
}

.rain-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.drop {
    position: absolute;
    bottom: 100%;
    width: 2px;
    height: 10px;
    background: #ffffff77;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}